* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: white ;
    padding: 30px ;
}

.scaffale {
    background-color: white ;
    width: 80% ;
    margin: 0 auto 20px auto ;
}

.card {
    position: relative ;
    display: inline-block ;
    width: calc((100%/3) - 11px) ;
    margin: 0 4px ;

}

.card img {
    width: 100% ;
}

.descrizione {
    height: 10% ;
    width: 100% ;
}

.brand {
    display: block ;
    margin-top: 5px ;
}

.articolo {
    display: block ;
    font-weight: bolder ;
    text-transform: uppercase ;
}

.prezzo-scontato {
    color: red ;
    font-weight: bold ;
}

.prezzo {
    text-decoration: line-through ;
}

.info {
    position: absolute ;
    bottom: 15% ;
    left: 0 ;
}

.sconto, .eco {
    display: inline-block ;
    padding: 4px ;
    color: white ;
    font-weight: bold ;

    

}

.sconto {
    background-color: #eb0037 ;
}

.eco {
    background-color: #00875a ;

}