* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

body {
    background-color: white ;
    padding: 30px ;
}

.scaffale {
    border: 1px solid black ;
    background-color: white ;
    width: 80% ;
    margin: 0 auto 20px auto ;
}

.card {
    
    border: 1px solid green ;
    display: inline-block ;
    width: calc((100%/3) - 11px) ;
    margin: 0 4px ;

}

.card img {
    width: 100% ;
}

.descrizione {
    border: 1px solid red;
    height: 20% ;
    width: 100% ;
}