/* RESET */

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

/* COMMON */

body {
    background-color: white ;
    padding: 30px ;
}

/*STRUTTURA*/

.scaffale {
    background-color: white ;
    width: 80% ;
    margin: 0 auto 20px auto ;
}

.card {
    position: relative ;
    display: inline-block ;
    width: calc((100%/3) - 11px) ;
    margin: 0 4px ;

}
.immagine {
    height: 700px;
    background-size: contain ;
    background-repeat: no-repeat ;
}

.cuore {
    width: 30px ;
    height: 30px ;
    border-radius: 30px ;
    text-align: center ;
    line-height: 30px ;
    background-color: #ffffff ;
    position: absolute ;
    top: 20px ;
    right: 5px ;
}

.cuore:hover {
    color: red;
}

/*PRODOTTI*/

#img1 {
    background-image: url(../img/1.webp) ;
}

#img1:hover {
    background-image: url(../img/1b.webp);
}

#img2 {
    background-image: url(../img/2.webp) ;
}

#img2:hover {
    background-image: url(../img/2b.webp);
}

#img3 {
    background-image: url(../img/3\ 1.webp) ;
}

#img3:hover {
    background-image: url(../img/3b\ 1.webp);
}

#img4 {
    background-image: url(../img/4.webp);
}

#img4:hover {
    background-image: url(../img/4b.webp);
}

#img5 {
    background-image: url(../img/5.webp);
}

#img5:hover {
    background-image: url(../img/5b.webp);
}

#img6 {
    background-image: url(../img/6.webp) ;
}

#img6:hover {
    background-image: url(../img/6b.webp);
}


.descrizione {
 
    height: 10% ;
    width: 100% ;
}

.brand {
    display: block ;
    margin-top: 5px ;
}

.articolo {
    display: block ;
    font-weight: bolder ;
    text-transform: uppercase ;
}

.prezzo-scontato {
    color: red ;
    font-weight: bold ;
}

.prezzo {
    text-decoration: line-through ;
}

.info {
    position: absolute ;
    bottom: 15% ;
    left: 0 ;
}

.sconto, .eco {
    display: inline-block ;
    padding: 4px ;
    color: white ;
    font-weight: bold ;
}

.sconto {
    background-color: #eb0037 ;
}

.eco {
    background-color: #00875a ;
}